Repository hoprnet/contracts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Teebor-Choka, @tolbrino, @NumberFour8, @QYuQianchen, @ausias-armesto, @Jaguaras

.github/CODEOWNERS:

# CODEOWNERS for hoprnet
# This file defines the default code owners for different parts of the repository.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own.
#
# Based on Git commit history analysis from the last 6 months.
# Last updated: 2025-08-06

# Default owners for everything
* @Teebor-Choka @tolbrino @NumberFour8 @QYuQianchen @ausias-armesto

# GitHub Actions workflows and CI/CD
/.github/ @ausias-armesto @tolbrino @Teebor-Choka

# Blockchain and smart contracts
/ethereum/ @QYuQianchen @tolbrino
*.sol @QYuQianchen @tolbrino

# Documentation
/docs/ @Jaguaras

# Build and configuration
*.nix @tolbrino @ausias-armesto @Teebor-Choka
*.toml @Teebor-Choka @NumberFour8

# Secure changes to critical files
/.github/CODEOWNERS @tolbrino @QYuQianchen

# Emergency contacts (for critical issues)
# Lead maintainers: @Teebor-Choka @tolbrino @QYuQianchen

chore: cleanup contract-address.json before deploying more v4 contracts
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/script/DeployNodeSafe.s.sol
  ethereum/contracts/script/SingleAction.s.sol
  ethereum/contracts/script/utils/NetworkConfig.s.sol
Owners: @QYuQianchen, @tolbrino

feat(rust): introduce new exports to simplify library usage
  .github/workflows/build.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  ethereum/bindings/Cargo.toml
  ethereum/bindings/build.rs
  ethereum/bindings/src/bin/hopr-contract-addresses.rs
  ethereum/bindings/src/config.rs
  ethereum/bindings/src/lib.rs
  ethereum/contracts/contracts-addresses.json
  flake.nix
  nix/ciShell.nix
  nix/rust-package.nix
Owners: @ausias-armesto, @tolbrino, @Teebor-Choka, @NumberFour8, @QYuQianchen

doc: add deployed contract addresses
  ethereum/README.md
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/script/DeployAll.s.sol
Owners: @QYuQianchen, @tolbrino

fix(test): return anvil-localhost
  ethereum/bindings/src/config.rs
  ethereum/contracts/contracts-addresses.json
Owners: @QYuQianchen, @tolbrino

feat: introduce new exports to simplify library usage (#2)
  .github/workflows/build.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  ethereum/bindings/Cargo.toml
  ethereum/bindings/build.rs
  ethereum/bindings/src/bin/hopr-contract-addresses.rs
  ethereum/bindings/src/config.rs
  ethereum/bindings/src/lib.rs
  ethereum/contracts/contracts-addresses.json
  flake.nix
  nix/ciShell.nix
  nix/rust-package.nix
Owners: @ausias-armesto, @tolbrino, @Teebor-Choka, @NumberFour8, @QYuQianchen

chore: clean up unused Network registry deployment scripts
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/script/SingleAction.s.sol
  ethereum/contracts/script/utils/NetworkConfig.s.sol
Owners: @QYuQianchen, @tolbrino

chore: remove anvil-localhost2 network
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/script/utils/NetworkConfig.s.sol
Owners: @QYuQianchen, @tolbrino

feat: generate new bindings for v4 contract
  ethereum/bindings/src/bin/hopr-contract-addresses.rs
  ethereum/bindings/src/codegen/hopr_announcements.rs
  ethereum/bindings/src/codegen/hopr_announcements_events.rs
  ethereum/bindings/src/codegen/hopr_boost.rs
  ethereum/bindings/src/codegen/hopr_capability_permissions.rs
  ethereum/bindings/src/codegen/hopr_channels.rs
  ethereum/bindings/src/codegen/hopr_channels_events.rs
  ethereum/bindings/src/codegen/hopr_crypto.rs
  ethereum/bindings/src/codegen/hopr_dummy_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/hopr_ledger.rs
  ethereum/bindings/src/codegen/hopr_network_registry.rs
  ethereum/bindings/src/codegen/hopr_network_registry_events.rs
  ethereum/bindings/src/codegen/hopr_node_management_module.rs
  ethereum/bindings/src/codegen/hopr_node_safe_registry.rs
  ethereum/bindings/src/codegen/hopr_node_safe_registry_events.rs
  ethereum/bindings/src/codegen/hopr_node_stake_factory.rs
  ethereum/bindings/src/codegen/hopr_node_stake_factory_events.rs
  ethereum/bindings/src/codegen/hopr_safe_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/hopr_staking_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/hopr_ticket_price_oracle.rs
  ethereum/bindings/src/codegen/hopr_ticket_price_oracle_events.rs
  ethereum/bindings/src/codegen/hopr_token.rs
  ethereum/bindings/src/codegen/hopr_winning_probability_oracle.rs
  ethereum/bindings/src/codegen/hopr_winning_probability_oracle_events.rs
  ethereum/bindings/src/codegen/hoprannouncements.rs
  ethereum/bindings/src/codegen/hoprchannels.rs
  ethereum/bindings/src/codegen/hoprnodestakefactory.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracleevents.rs
  ethereum/bindings/src/codegen/mod.rs
  ethereum/bindings/src/config.rs
Owners: @QYuQianchen, @tolbrino

chore: remove outdated NetworkRegistry
  ethereum/contracts/src/static/NetworkRegistry.sol
  ethereum/contracts/src/static/proxy/DummyProxyForNetworkRegistry.sol
  ethereum/contracts/src/static/proxy/SafeProxyForNetworkRegistry.sol
  ethereum/contracts/src/static/proxy/StakingProxyForNetworkRegistry.sol
  ethereum/contracts/test/static/NetworkRegistry.t.sol
  ethereum/contracts/test/static/proxy/DummyProxyForNetworkRegistry.t.sol
  ethereum/contracts/test/static/proxy/SafeProxyForNetworkRegistry.t.sol
  ethereum/contracts/test/static/proxy/StakingProxyForNetworkRegistry.t.sol
  justfile
Owners: @QYuQianchen, @tolbrino, @Teebor-Choka, @NumberFour8, @ausias-armesto

fix: check on code length in NodeSafeRegistry
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
Owners: @QYuQianchen, @tolbrino

build: update bindings
  ethereum/bindings/src/bin/hopr-contract-addresses.rs
  ethereum/bindings/src/codegen/hopr_announcements.rs
  ethereum/bindings/src/codegen/hopr_capability_permissions.rs
  ethereum/bindings/src/codegen/hopr_channels.rs
  ethereum/bindings/src/codegen/hopr_dummy_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/hopr_network_registry.rs
  ethereum/bindings/src/codegen/hopr_network_registry_events.rs
  ethereum/bindings/src/codegen/hopr_node_management_module.rs
  ethereum/bindings/src/codegen/hopr_node_safe_registry.rs
  ethereum/bindings/src/codegen/hopr_safe_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/hopr_staking_proxy_for_network_registry.rs
  ethereum/bindings/src/codegen/mod.rs
Owners: @QYuQianchen, @tolbrino

feat: restrict test from writing to the file system
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/test/scripts/DeployAll.t.sol
  ethereum/contracts/test/scripts/DeployNodeManagement.t.sol
  ethereum/contracts/test/utils/EnumerableKeyBindingSet.t.sol
  ethereum/contracts/test/utils/EnumerableTargetSet.t.sol
Owners: @QYuQianchen, @tolbrino

ci: remove parallel test and only generate gas report on active contracts
  ethereum/contracts/Makefile
  justfile
Owners: @QYuQianchen, @tolbrino, @Teebor-Choka, @NumberFour8, @ausias-armesto

ci: temporarily remove gas report generation and only run unit test
  Makefile
  ethereum/contracts/Makefile
Owners: @Teebor-Choka, @tolbrino, @NumberFour8, @QYuQianchen, @ausias-armesto

chore: remove .DS_Store
  audits/.DS_Store
  audits/sc-audit-08-2023/.DS_Store
  audits/sc-audit-10-2025/.DS_Store
  audits/sc-audit-10-2025/docs/.DS_Store
  vendor/.DS_Store
Owners: @Teebor-Choka, @tolbrino, @NumberFour8, @QYuQianchen, @ausias-armesto

chore: fix typo on date
  audits/sc-audit-10-2025/workspace.dsl
Owners: @Teebor-Choka, @tolbrino, @NumberFour8, @QYuQianchen, @ausias-armesto

docs: add detailed explaination for p-2 EC inversion calculation
  ethereum/contracts/src/Crypto.sol
Owners: @QYuQianchen, @tolbrino

feat: make variables private and can only be changed through internal functions. Add getter functions in Ledger.sol
  ethereum/contracts/src/Ledger.sol
Owners: @QYuQianchen, @tolbrino

test: Add more test suites for Ledger. Make test fuzz
  ethereum/contracts/test/Ledger.t.sol
Owners: @QYuQianchen, @tolbrino

feat: use customized error in constructor
  ethereum/contracts/src/node-stake/migration/NodeSafeMigration.sol
Owners: @QYuQianchen, @tolbrino

test: add test for failed ERC1820Registry state change
  ethereum/contracts/test/node-stake/migration/NodeSafeMigration.t.sol
Owners: @QYuQianchen, @tolbrino

docs: add key-id generation rule in _bindKeysInternal function
  ethereum/contracts/src/Announcements.sol
Owners: @QYuQianchen, @tolbrino

fix hopr ascii art
  ethereum/contracts/src/Announcements.sol
  ethereum/contracts/src/Channels.sol
  ethereum/contracts/src/Crypto.sol
  ethereum/contracts/src/Ledger.sol
  ethereum/contracts/src/MultiSig.sol
  ethereum/contracts/src/TicketPriceOracle.sol
  ethereum/contracts/src/WinningProbabilityOracle.sol
  ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  ethereum/contracts/src/node-stake/migration/NodeSafeMigration.sol
  ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Owners: @QYuQianchen, @tolbrino

chore: disable wrap comments to keep hopr ascii art
  ethereum/contracts/foundry.in.toml
Owners: @Teebor-Choka, @NumberFour8

style: adjust some wrapped comments
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/script/utils/NetworkConfig.s.sol
  ethereum/contracts/src/Channels.sol
  ethereum/contracts/src/Crypto.sol
  ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  ethereum/contracts/src/static/NetworkRegistry.sol
  ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  ethereum/contracts/test/node-stake/migration/NodeSafeMigration.t.sol
  ethereum/contracts/test/utils/TargetUtils.t.sol
Owners: @QYuQianchen, @tolbrino

style: bring back channel state ascii drawing
  ethereum/contracts/src/Channels.sol
Owners: @QYuQianchen, @tolbrino

feat: store safe and module addresses deployed via the factory
  ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  ethereum/contracts/src/utils/EnumerableSafeModuleSet.sol
  ethereum/contracts/test/mocks/EnumerableSafeModuleSetMock.sol
  ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  ethereum/contracts/test/utils/EnumerableSafeModuleSet.t.sol
Owners: @QYuQianchen, @tolbrino

refactor: allow bindKeysMaybeAnnounceSafe and bindKeysMaybeAnnounce to only announce when providing a non-empty multiaddress
  ethereum/contracts/src/Announcements.sol
  ethereum/contracts/test/Announcements.t.sol
Owners: @QYuQianchen, @tolbrino

fix: correct typos
  ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  ethereum/contracts/src/utils/EnumerableKeyBindingSet.sol
  ethereum/contracts/src/utils/EnumerableSafeModuleSet.sol
  ethereum/contracts/src/utils/EnumerableTargetSet.sol
  ethereum/contracts/test/utils/EnumerableKeyBindingSet.t.sol
  ethereum/contracts/test/utils/EnumerableSafeModuleSet.t.sol
  ethereum/contracts/test/utils/EnumerableTargetSet.t.sol
Owners: @QYuQianchen, @tolbrino

style: lint test files
  ethereum/contracts/test/Announcements.t.sol
  ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  ethereum/contracts/test/utils/EnumerableSafeModuleSet.t.sol
Owners: @QYuQianchen, @tolbrino

style: move position of comments
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  ethereum/contracts/test/node-stake/migration/NodeSafeMigration.t.sol
  ethereum/contracts/test/utils/TargetUtils.t.sol
Owners: @QYuQianchen, @tolbrino

fix(build): Make contracts file resolvable during build
  ethereum/bindings/build.rs
Owners: @QYuQianchen, @tolbrino

fix(contracts): Move addresses file into bindings
  ethereum/bindings/build.rs
  ethereum/bindings/contracts-addresses.json
  ethereum/contracts/Makefile
  ethereum/contracts/script/utils/NetworkConfig.s.sol
  flake.nix
Owners: @QYuQianchen, @tolbrino, @ausias-armesto, @Teebor-Choka

fix(build): Fix error message
  ethereum/bindings/build.rs
Owners: @QYuQianchen, @tolbrino

fix(build): Ensure out dir exists
  ethereum/bindings/build.rs
Owners: @QYuQianchen, @tolbrino

fix(build): Correct path display
  ethereum/bindings/build.rs
Owners: @QYuQianchen, @tolbrino

fix(test): Add contracts file as readable
  ethereum/contracts/foundry.in.toml
Owners: @Teebor-Choka, @NumberFour8
